<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ShoppingCardConnectionString" connectionString="Data Source=DESKTOP-VQ4OEJT\SQLEXPRESS;Initial Catalog=ShoppingCard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingCardConnectionString2" connectionString="Data Source=DESKTOP-VQ4OEJT\SQLEXPRESS;Initial Catalog=ShoppingCard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ShoppingCardConnectionString3" connectionString="Data Source=DESKTOP-VQ4OEJT\SQLEXPRESS;Initial Catalog=ShoppingCard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
